img {
    margin-left: 200px;
    width: 200px;
    height: 100px;
}

.header {
    display: grid;
    grid-template-areas: "logo nav";
}

.nav {
    color: var(--branco);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: center;
    gap: 45px;
}

a:link {
    color: #ff0000;
    text-decoration: none;
}

a:visited {
    color: var(--branco);
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

@media (max-width: 1024px) {
    img {
        margin-left: 50px;
    }
    .topo{
        display: flex;
        justify-content: space-around;
    }
    .nav{
      margin-left: 300px;  
    }
}